{% with id=id|default:'admin_deleteds' %}
<div role="tabpanel" class="tab-pane fade" id="{{ id }}">

{% if nav.user.is_staff %}
  <div class="tab-header">学生</div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>删除时间</th>
          <th>姓名</th>
          <th>学号</th>
          <th>删除者</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for student in deleteds.students %}
          <tr>
            <td>{{ student.deleted_at }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.number }}</td>
            <td>{{ student.deleted_by }}</td>
            <td> <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#confirm_box_revoke_student_{{ student.id }}">撤销删除</a></td>
          </tr>
          {% include "sua/_partial/confirm_box.html" with id1="confirm_box_revoke_student_" id2=student.id title="确认撤销删除学生" content="确认要撤销删除该学生吗？" confirm_label="确认撤销删除" confirm_href1="/students/" confirm_href2=student.id confirm_href3="/revoke/" only%}
        {% endfor %}
      </tbody>
    </table>
  </div>

<hr>
{% endif %}

  <div class="tab-header">活动</div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>删除时间</th>
          <th>活动日期</th>
          <th>活动名称</th>
          <th>组织方</th>
          <th>删除者</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for activity in deleteds.activities %}
        <tr>
          <td>{{ activity.deleted_at }}</td>
          <td>{{ activity.date }}</td>
          <td>{{ activity.title }}</td>
          <td>{{ activity.group }}</td>
          <td>{{ activity.deleted_by }}</td>
          <td> <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#confirm_box_revoke_activity_{{ activity.id }}">撤销删除</a></td>
        </tr>
        {% include "sua/_partial/confirm_box.html" with id1="confirm_box_revoke_activity_" id2=activity.id title="确认撤销删除活动" content="确认要撤销删除该活动吗？" confirm_label="确认撤销删除" confirm_href1="/activities/" confirm_href2=activity.id confirm_href3="/revoke/" only%}
      {% endfor %}
      </tbody>
    </table>
  </div>

<hr>

  <div class="tab-header">申请</div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>删除时间</th>
          <th>申请日期</th>
          <th>活动名称</th>
          <th>申请人</th>
          <th>公益时</th>
          <th>删除者</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for application in deleteds.applications %}
        <tr>
          <td>{{ application.deleted_at }}</td>
          <td>{{ application.created }}</td>
          <td>{{ application.sua.activity.title }}</td>
          <td>{{ application.sua.student.name }}</td>
          <td>{{ application.sua.suahours }}h</td>
          <td>{{ application.deleted_by }}</td>
          <td><a class="btn btn-default btn-xs" data-toggle="modal" data-target="#confirm_box_revoke_application_{{ application.id }}">撤销删除</a></td>
        </tr>
        {% include "sua/_partial/confirm_box.html" with id1="confirm_box_revoke_application_" id2=application.id title="确认撤销删除申请" content="确认要撤销删除该申请吗？" confirm_label="确认撤销删除" confirm_href1="/applications/" confirm_href2=application.id confirm_href3="/revoke/" only%}
        {% endfor %}
      </tbody>
    </table>
  </div>

<hr>

{% if nav.user.is_staff %}
  <div class="tab-header">申诉</div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>删除时间</th>
          <th>申诉日期</th>
          <th>申诉的公示</th>
          <th>申诉人</th>
          <th>删除者</th>
        </tr>
      </thead>
      <tbody>
        {% for appeal in deleteds.appeals %}
        <tr>
          <td>{{ appeal.deleted_at }}</td>
          <td>{{ appeal.created }}</td>
          <td>{{ appeal.publicity.title }}</td>
          <td>{{ appeal.student.name }}</td>
          <td>{{ appeal.deleted_by }}</td>
          <td><a class="btn btn-default btn-xs" data-toggle="modal" data-target="#confirm_box_revoke_appeal_{{ appeal.id }}">撤销删除</a></td>
        </tr>
        {% include "sua/_partial/confirm_box.html" with id1="confirm_box_revoke_appeal_" id2=appeal.id title="确认撤销删除申诉" content="确认要撤销删除该申诉吗？" confirm_label="确认撤销删除" confirm_href1="/appeals/" confirm_href2=appeal.id confirm_href3="/revoke/" only%}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
{% endwith %}
