{% with id=id|default:'suahoursdetail' %}
<div role="tabpanel" class="tab-pane fade" id="{{ id }}">
  <div class="row tab-header">
    公益时详情
    <div class="col-lg-3 pull-right">
      <a class="btn btn-default" href="/suas/export/?from=%2F%23{{ id }}{% if year_begin and year_end %}&year_begin={{ year_begin }}&year_end={{ year_end }}{% endif %}" target="_blank">导出记录</a>
      <button type="btn btn-default" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         学年  <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#{{ id }}">全部</a></li>
        {% for year in nav.YEAR_CHOICES %}
        <li><a href="?year_begin={{year.0}}&year_end={{year.1}}#{{ id }}">{{year.0}}~{{year.1}}学年度</a></li>
        {% endfor %}
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>序号</th>
          <th>活动名称</th>
          <th>举办单位</th>
          <th>活动时间</th>
          <th>公益时</th>
        </tr>
      </thead>
      {% if suas %}
        <tbody>
          {% for sua in suas %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ sua.activity.title }}</td>
              <td>{{ sua.activity.group }}</td>
              <td>{{ sua.activity.date }}</td>
              <td>{{ sua.suahours }} h</td>
            </tr>
          {% endfor %}
        </tbody>
      {% endif %}
    </table>
  </div>
</div>
{% endwith %}
