<div role="tabpanel" class="tab-pane fade" id="appeals">
      <div class="tab-header">申诉</div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>申诉日期</th>
              <th>申诉的公示</th>
              <th>申诉人</th>
              <th>是否已处理</th>
              <th></th>
            </tr>
          </thead>
          {% for appeal in appeals %}
            
            <tr>
              <td>{{ appeal.created }}</td>
              <td><a href="{{ appeal.publicity.url }}">{{ appeal.publicity.title }}</a></td>
              <td><a href="{{ appeal.student.url }}">{{ appeal.student.name }}</a></td>
              <td>{% if appeal.is_checked %}已处理{% else %}未处理{% endif %}</td>
              <td>
                <a class="btn btn-default btn-xs" href="/appeals/{{ appeal.id }}/detail/">申诉详情</a>
                <!-- <a class="btn btn-default btn-xs" href="/admin/appeals/{{ appeal.id }}/change/">审核申诉</a> -->
                <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#confirm_box_delete_appeal_{{ appeal.id }}">删除该申诉</a>
              </td>
            </tr>
            {% include "sua/_partial/confirm_box.html" with id1="confirm_box_delete_appeal_" id2=appeal.id title="确认删除申诉" content="确认要删除该申诉吗？" confirm_label="确认删除" confirm_href1="/appeals/" confirm_href2=appeal.id confirm_href3="/delete/" only%}
          {% endfor %}
        </table>
      </div>
    </div>