<div role="tabpanel" class="tab-pane fade{% if active|default:False %} active in{% endif %}" id="{{ id|default:'admin_deleteds' }}">
    <div class="tab-header">学生</div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                <th>时间</th>
                <th>姓名</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            {% for student in deleteds.students %}
            <tr>
                <td width="339.17px">{{ student.deletedAt }}</td>
                <td><a href="{{ student.url }}">{{ student.name }}</a></td>
                <td><a class="btn btn-default btn-xs" href="/students/{{ student.id }}/revoke/">撤销删除</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

<hr>

    <div class="tab-header">活动</div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>活动日期</th>
                    <th>活动名称</th>
                    <th>组织方</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% for activity in deleteds.activities %}
            <tr>
                <td>{{ activity.date }}</td>
                <td>{{ activity.title }}</td>
                <td>{{ activity.group }}</td>
                <td><a class="btn btn-default btn-xs" href="/activities/{{ activity.id }}/revoke/">撤销删除</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

<hr>

    <div class="tab-header">申请</div>
    <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>申请日期</th>
              <th>活动名称</th>
              <th>申请人</th>
              <th>公益时</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              {% for application in deleteds.applications %}
              <tr>
                <td>{{ application.created }}</td>
                <td><a>{{ application.sua.activity.title }}</a></td>
                <td><a>{{ application.sua.student.name }}</a></td>
                <td>{{ application.sua.suahours }}h</td>
                <td><a class="btn btn-default btn-xs" href="/applications/{{ application.id }}/revoke/">撤销删除</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

<hr>

    <div class="tab-header">申诉</div>
    <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
            <th>申诉日期</th>
            <th>申诉的公示</th>
            <th>申诉人</th>
            <th></th>
            </tr>
          </thead>
        {% for appeal in deleteds.appeals %}
        <tr>
            <td>{{ appeal.created }}</td>
            <td><a href="{{ appeal.publicity.url }}">{{ appeal.publicity.title }}</a></td>
            <td><a href="{{ appeal.student.url }}">{{ appeal.student.name }}</a></td>
            <td><a class="btn btn-default btn-xs" href="/appeals/{{ appeal.id }}/revoke/">撤销删除</a></td>
        </tr>
        {% endfor %}

</div>
    
