<div role="tabpanel" class="tab-pane fade{% if active|default:False %} active in{% endif %}" id="{{ id|default:'admin_deleteds' }}">

{% if nav.user.is_staff %}
  <div class="tab-header">学生</div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>删除时间</th>
          <th>姓名</th>
          <th>学号</th>
          <th>删除者</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for student in deleteds.students %}
          <tr>
            <td>{{ student.deleted_at }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.number }}</td>
            <td>{{ student.deleted_by }}</td>
            <td><a class="btn btn-default btn-xs" href="/students/{{ student.id }}/revoke/">撤销删除</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

<hr>
{% endif %}

  <div class="tab-header">活动</div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>删除时间</th>
          <th>活动日期</th>
          <th>活动名称</th>
          <th>组织方</th>
          <th>删除者</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for activity in deleteds.activities %}
        <tr>
          <td>{{ activity.deleted_at }}</td>
          <td>{{ activity.date }}</td>
          <td>{{ activity.title }}</td>
          <td>{{ activity.group }}</td>
          <td>{{ activity.deleted_by }}</td>
          <td><a class="btn btn-default btn-xs" href="/activities/{{ activity.id }}/revoke/">撤销删除</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

<hr>

  <div class="tab-header">申请</div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>删除时间</th>
          <th>申请日期</th>
          <th>活动名称</th>
          <th>申请人</th>
          <th>公益时</th>
          <th>删除者</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for application in deleteds.applications %}
        <tr>
          <td>{{ application.deleted_at }}</td>
          <td>{{ application.created }}</td>
          <td>{{ application.sua.activity.title }}</td>
          <td>{{ application.sua.student.name }}</td>
          <td>{{ application.sua.suahours }}h</td>
          <td>{{ application.deleted_by }}</td>
          <td><a class="btn btn-default btn-xs" href="/applications/{{ application.id }}/revoke/">撤销删除</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

<hr>

{% if nav.user.is_staff %}
  <div class="tab-header">申诉</div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>删除时间</th>
          <th>申诉日期</th>
          <th>申诉的公示</th>
          <th>申诉人</th>
          <th>删除者</th>
        </tr>
      </thead>
      <tbody>
        {% for appeal in deleteds.appeals %}
        <tr>
          <td>{{ appeal.deleted_at }}</td>
          <td>{{ appeal.created }}</td>
          <td>{{ appeal.publicity.title }}</td>
          <td>{{ appeal.student.name }}</td>
          <td>{{ appeal.deleted_by }}</td>
          <td><a class="btn btn-default btn-xs" href="/appeals/{{ appeal.id }}/revoke/">撤销删除</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
