{% load static %}
{% load rest_framework %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
<!--     <title>Login</title> -->
    <title>添加活动</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sua/css/login.css' %}">
</head>

<body>
  <form action="" method="POST">
      {% csrf_token %}
      {% render_form serializer %}
      <input type="submit" name="save" value="提交">
  </form>
</body>

</html>
