{% extends 'sua/_layout/info_template.html' %}

{% load rest_framework %}

{% block content_title %}
<div class="col-xs-offset-4">{{ serializer.data.title }} 的活动详情</div>
{% endblock %}

{% block content_detail %}
<hr>
<div class="row">
  <div class="col-xs-5 col-xs-offset-5">
    <p>活动详情：{{ serializer.data.detail }}</p>
  </div>
</div>
<div class="row">
    <div class="col-xs-5 col-xs-offset-5">
    <p>活动团队:{{ serializer.data.group }}</p>
  </div>
</div>
<div class="row">
    <div class="col-xs-5 col-xs-offset-5">
    <p>活动日期:{{ serializer.data.date }}</p>
  </div>
</div>
<div class="table-responsive">
<table class="table">
<thead>
          <tr>
            <th>姓名</th>
            <th>所属组别</th>
            <th>公益时数</th>
          </tr>
        </thead>
{% for sua in serializer.data.suas %}

          <tr>
          <td>{{ sua.student.name }}</td>
          <td>{{ sua.team }}</td>
          <td>{{ sua.suahours }}</td>
		  <td>
		  <a class="btn btn-default btn-xs" href="/admin/suas/{{ sua.id }}/change/">编辑</a>
		  <a class="btn btn-default btn-xs" href="/suas/{{ sua.id }}/delete/">删除</a>

		  </td>
          </tr>
		  {% endfor %}
</table>
      </div>
<a href="/admin/activities/{{ serializer.data.id }}/suas/add/" class="btn btn-default">添加参与人</a>
<hr>
<div class="row">
		<div class="col-xs-offset-4">
		<a href="/activities/{{ serializer.data.id }}/delete/" class="btn btn-default">删除该活动</a>
		<a href="/admin/#activities" class="btn btn-default">返回主页</a>
	</div>
</div>
{% endblock %}
