{% extends 'sua/_layout/info_template.html' %}

{% block rewritten_content_title %}
<div class="center-tab-header">
  {% if request.path == '/activities/add/' %}
    创建活动
  {% else %}
    修改活动
  {% endif %}
</div>
{% endblock %}

{% block content_detail %}
<div class="row">
  <div class="col-xs-12">
    <hr>
  </div>
</div>
<form enctype="multipart/form-data" role="form" action="" method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
      <div class="form-group">
        <label >活动标题</label>
        <input name="title" class="form-control" type="text" value="{{ serializer.data.title }}">
      </div>
    </div>
    <div class="col-xs-4 col-xs-offset-1">
      <div class="form-group ">
        <label >活动详情</label>
        <input name="detail" class="form-control" type="text" value="{{ serializer.data.detail }}">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
      <div class="form-group ">
        <label >活动组织单位</label>
        <input name="group" class="form-control" type="text" value="{{ serializer.data.group }}">
      </div>
    </div>
    <div class="col-xs-4 col-xs-offset-1">
      <div class="form-group ">
        <label >活动时间</label>
        <input name="date" class="form-control" type="datetime-local" value="{{ extra_data.date }}">
      </div>
    </div>
  </div>
  
  <div class="row center-wrapper">
    <div class="col-lg-3">
      <button type="submit" class="btn btn-block">提交</button>
    </div>
  </div>
</form>
{% endblock %}
