{% extends 'sua/_layout/info_template.html' %}
{% load static %}

{% block rewritten_content_title %}
<div class="center-tab-header">
  {% if request.path == '/activities/add/' %}
    创建活动
  {% else %}
    修改活动
  {% endif %}
</div>
{% endblock %}

{% block content_detail %}
<div class="row">
  <div class="col-xs-12">
    <hr>
  </div>
</div>
<form enctype="multipart/form-data" role="form" action="" method="POST" data-toggle="validator" id="form">
  {% csrf_token %}
  <div class="row">
    <div class="col-xs-4 col-xs-offset-2">
      <div class="form-group">
        <label>活动标题</label>
        <input name="title" class="form-control" type="text" value="{{ serializer.data.title }}" placeholder="请输入活动的标题" data-error="活动标题不能为空" required>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group ">
        <label>活动详情</label>
        <input name="detail" class="form-control" type="text" value="{{ serializer.data.detail }}" placeholder="请输入有关活动的详细信息" data-error="活动详情不能为空" required>
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-2">
      <div class="form-group ">
        <label>活动组织单位</label>
        <input name="group" class="form-control" type="text" value="{{ serializer.data.group }}" placeholder="请输入活动组织单位的名称" data-error="活动组织单位不能为空" required>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <label>活动时间</label>
        <input id="d" name="date" class="form-control" type="date" value="{{ extra_data.date }}" data-custom="dateCheck" >
      </div>
    </div>
  </div>
  <div class="row center-wrapper">
    {% if request.path == '/activities/add/' %}
    <div class="col-xs-4">
      <button type="submit" class="btn btn-block">提交</button>
    </div>
    {% else %}
    <div class="col-xs-2" style="padding-right:0px">
      <button type="submit" class="btn btn-block">提交</button>
    </div>
    <div class="col-xs-2" style="padding-left:0px">
      <a class="btn btn-default btn-block" href="{{ from_url }}">返回</a>
    </div>
    {% endif %}
  </div>
</form>
{% endblock %}

{% block load_scripts %}
<script type="text/javascript" src="{% static 'sua/js/validator.min.js' %}"></script>
{% endblock %}
