{% extends 'sua/_layout/info_template.html' %}

{% block title %}审核申诉{% endblock %}

{% block content_title %}
<div class="col-lg-offset-3">对“{{ appeal.publicity.title }}”的申诉的审核</div>
{% endblock %}

{% block content_detail %}
{% load static %}
{% load rest_framework %}
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <p>申诉人：{{ appeal.student.name }}</p>
    <p>申诉内容：{{ appeal.content }}</p>
    <p>活动：{{ appeal.publicity.activity.title }}</p>
    <p>公益时：{{ sua.suahours }}</p>
    <form enctype="multipart/form-data" action="" method="POST">
      {% csrf_token %}
      {% render_form serializer %}
      <input class="btn btn-default btn-block" type="submit" name="save" value="提交"></input>
  </div>
</div>


{% endblock %}
