{% extends 'sua/_layout/base.html' %}

{% block title %}创建公示{% endblock %}

{% block content %}
{% load static %}
{% load rest_framework %}

<!-- 导航栏部分开始 -->
{% include 'sua/_partial/nav.html' %}
<!-- 导航栏部分结束 -->
<div class="container my-space-line">
        <div class="row">
    <div class="col-lg-3">
      </div>
      <div class="col-lg-6">
            <h3>对"{{ activity.title }}"活动创建公示</h3>
  <p>活动标题：{{ activity.title }}</p>
  <p>活动详情：{{ activity.detail }}</p>
  <p>活动小组：{{ activity.group }}</p>
  <p>活动日期:{{ activity.date }}</p>

  <form enctype="multipart/form-data" action="" method="POST">
      {% csrf_token %}
      {% render_form serializer %}
      <input type="submit" name="save" value="提交">
  </form>

{% endblock %}