<!doctype html>
{% load staticfiles %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'sua/css/bootstrap.min.css' %}">

  <!-- My CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'sua/css/app.css' %}">

<title>{% if serializer.data.url %}
  编辑公示
  {% else %}
  创建公示
  {% endif %}</title>
</head> 

<body style="background-color: #EEEEEE">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #4d4d4d;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            < 返回主页 <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <a class="navbar-brand mr-auto" href="/">
        <img src="{% static 'sua/images/logo-icon3.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        数院公益时
      </a>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="{% static 'sua/images/plus.png' %}" width="15" height="15" class="d-inline-block" alt="" style="mix-blend-mode: #fff">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/applications/apply/">新增公益时申请</a>
          </div>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {% if nav.user.student == None %}
            {{ nav.user.username }}
            {% else %}
            {{ nav.user.student.name }}
            {% endif %}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/students/{{ nav.student.id }}/detail/">我的信息</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">登出</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5 pt-5">
    <div class="page-head">
<h2 class="page-head-title">{% if serializer.data.url %}
  编辑公示
  {% else %}
  创建公示
  {% endif %}</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="#">主页</a></li>
          <li class="breadcrumb-item active">编辑活动公示</li>
        </ol>
      </nav>
    </div>
    <div class="row main-content">
      <div class="col-lg">
        <div class="invoice">
          <form id="form" enctype="multipart/form-data" role="form" action="" method="POST" data-parsley-validate>
            {% csrf_token %}
            <div class="row invoice-form-header">
              <div class="col-sm-7">
                <div class="invoice-logo"></div>
              </div>
              <div class="col-sm-5 invoice-order">
<span class="invoice-id">{% if serializer.data.url %}
  编辑公示
  {% else %}
  创建公示
  {% endif %}</span>
              </div>
            </div>

            <div class="row invoice-data">
              <div class="col-sm invoice-person">
                <span class="name">活动信息</span>
                <span>活动标题：{{ activity.title }}</span>
                <span>活动详情：{{ activity.detail }}</span>
                <span>主办单位：{{ activity.group }}</span>
                <span>活动日期：{{ activity.date }}</span>
              </div>
              <div class="col-sm"></div>
            </div>

            <div class="form-group">
              <label class="required">公示标题</label>
              <input name="title" class="form-control" type="text" placeholder="请输入公示标题" data-parsley-trigger="focusout"
value="{% if serializer.data.url %}{{ serializer.data.title }}{% endif %}" required>
            </div>
            <div class="form-group pt-3">
              <label class="required">公示详情</label>
              <textarea name="content" class="form-control" rows=5 type="text" placeholder="请输入公示详情"
data-parsley-trigger="focusout" value="{% if serializer.data.url %}{{ serializer.data.content }}{% endif %}" required></textarea>
            </div>
            <div class="form-group pt-3">
              <label class="required">联系方式</label>
              <input name="group" class="form-control" type="tel" placeholder="请输入联系电话" data-parsley-trigger="focusout"
pattern="[\d\(\)+]+" data-parsley-pattern-message="请输入正确的电话号码" value="{% if serializer.data.url %}{{
serializer.data.contact }}{% endif %}" required>
            </div>
            <div class="form-group pt-3">
              <div class="checkbox">
                <label>
<input type="checkbox" name="is_published" value="{% if serializer.data.url %}{{ serializer.data.is_published }}{% else %}true{% endif %}"
  checked="{% if serializer.data.url %}{{ serializer.data.is_published }}{% else %}true{% endif %}">
                  是否公示
                </label>
              </div>
            </div>
            <div class="form-group pt-3">
              <label class="required">开始公示时间</label>
<input name="begin" class="form-control" type="date" data-parsley-trigger="focusout" value="{% if serializer.data.url %}{{ extra_data.begin }}{% endif %}" required>
            </div>
            <div class="form-group pt-3">
              <label class="required">结束公示时间</label>
<input name="end" class="form-control" type="date" data-parsley-trigger="focusout" value="{% if serializer.data.url %}{{ extra_data.end }}{% endif %}"
  required>
            </div>

            <div class="row invoice-footer">
              <div class="col-lg-12">
                <button type="submit" class="btn btn-lg btn-space btn-primary">提交</button>
                <a class="btn btn-lg btn-space btn-secondary" href="/">返回</a>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>
  <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'sua/js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'sua/js/popper.min.js' %}"></script>
<script src="{% static 'sua/js/bootstrap.min.js' %}"></script>
<script src="{% static 'sua/js/parsley.min.js' %}"></script>
<script src="{% static 'sua/js/i18n/zh_cn.js' %}"></script>
<script src="{% static 'sua/js/i18n/zh_cn.extra.js' %}"></script>
</body>

</html>




<!--
  if
  编辑公示
else
  创建公示 

  if
    编辑公示"{{ serializer.data.title }}"
 else
    为"{{ activity.title }}"活动创建公示
</div>
<hr/>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">

    <form enctype="multipart/form-data" action="" method="POST">
      {% csrf_token %}
      <div class="from-group">
        <label>活动标题</label>
        <br><p>&nbsp&nbsp&nbsp{{ activity.title }}</p>
      </div>
      <div class="from-group">
        <label>活动详情</label>
        <br><p>&nbsp&nbsp&nbsp{{ activity.detail }}</p>
      </div>
      <div class="from-group">
        <label>活动小组</label>
        <br><p>&nbsp&nbsp&nbsp{{ activity.group }}</p>
      </div>
      <div class="from-group">
        <label>活动日期</label>
        <br><p>&nbsp&nbsp&nbsp{{ activity.date }}</p>
      </div>
      <div class="form-group">
        <label>公示标题</label>
        <input name="title" class="form-control" type="text" value="{% if serializer.data.url %}{{ serializer.data.title }}{% endif %}">
      </div>
      <div class="form-group">
        <label>公示详情</label>
        <input name="content" class="form-control" type="text" value="{% if serializer.data.url %}{{ serializer.data.content }}{% endif %}">
      </div>
      <div class="form-group">
        <label>联系方式</label>
        <input name="contact" class="form-control" type="text" value="{% if serializer.data.url %}{{ serializer.data.contact }}{% endif %}">
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="is_published"
                   value="{% if serializer.data.url %}{{ serializer.data.is_published }}{% else %}true{% endif %}"
                   checked="{% if serializer.data.url %}{{ serializer.data.is_published }}{% else %}true{% endif %}">
            是否公示
          </label>
        </div>
      </div>
      <div class="form-group ">
        <label>开始公示时间</label>
        <input name="begin" class="form-control" type="date" value="{% if serializer.data.url %}{{ extra_data.begin }}{% endif %}">
      </div>
      <div class="form-group">
        <label>结束公示时间</label>
        <input name="end" class="form-control" type="date" value="{% if serializer.data.url %}{{ extra_data.end }}{% endif %}">
      </div>
      <input class="btn btn-primary btn-block" type="submit" name="save" value="提交">
      <a class="btn btn-default btn-block" href="/admin/publicities/{{ activity.id }}/manage/" >返回</a>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <hr />
  </div>
</div>

--》