{% extends 'sua/_layout/base.html' %}

{% block title %}公益时平台{% endblock %}

{% block content %}
<!-- 导航栏部分开始 -->
{% include 'sua/_partial/nav.html' %}
<!-- 导航栏部分结束 -->

<div>学生</div>
{% for student in students %}
    <p>学号：{{ student.number }}</p>
    <p>年级：{{ student.grade }}</p>
    <p>班别：{{ student.classtype }}</p>
    <p>名字：{{ student.name }}</p>
    <p>公益时数：{{ student.suahours }}</p>
{% endfor %}

<div>活动</div>
{% for activity in activities %}
    <p>活动日期：{{ activity.date }}</p>
    <p>活动名称{{ activity.title }}</p>
    <p>组织方：{{ activity.group }}</p>
    <p>是否已公示：{{ activity.publicities }}</p>
{% endfor %}

<div>申请</div>
{% for application in applications %}
    <p>申请日期：{{ application.created }}</p>
    <p>标题：{{ application.sua.activity.title }}</p>
    <p>申请人：{{ application.sua.student.name }}</p>
    <p>公益时：{{ application.sua.suahours }}h</p>
    <p>是否已审核：{{ application.is_checked }}</p>
{% endfor %}

<div>申诉</div>
{% for appeal in appeals %}
    <p>申诉日期：{{ appeal.created }}</p>
    <p>申诉的公示：{{ appeal.publicity.title }}</p>
    <p>申诉人：{{ appeal.student.name }}</p>
    <p>是否已处理：{{ appeal.is_checked }}</p>
{% endfor %}

{% endblock %}