{% extends 'sua/_layout/base.html' %}

{% block title %}审核公益时申请{% endblock %}

{% block content %}
{% load static %}
{% load rest_framework %}

<!-- 导航栏部分开始 -->
{% include 'sua/_partial/nav.html' %}
<!-- 导航栏部分结束 -->
<div class="container my-space-line">
  	    <div class="row">
 		<div class="col-lg-3">
  		</div>
  		<div class="col-lg-6">
  	  	    <h3><!-- {{ sua.student.name }} -->对"{{ sua.activity.title }}"的申请的审核</h3>
  <p>申请人：{{ sua.student.name }}</p>
  <p>活动标题：{{ sua.activity.title }}</p>
  <p>活动详情：{{ sua.activity.detail }}</p>
  <p>活动小组：{{ sua.activity.group }}</p>
  <p>活动日期:{{ sua.activity.date }}</p>
  <p>公益时：{{ sua.suahours }}</p>
  <p>是否线下证明：{{ application.proof.is_offline }}
  <p>证明文件:<a href="{{ application.proof.proof_file }}">{{ application.proof.proof_file }}</a></p>

  <form enctype="multipart/form-data" action="" method="POST">
      {% csrf_token %}
      {% render_form serializer %}
      <input type="submit" name="save" value="提交">
  </form>

{% endblock %}
