{% extends 'sua/_layout/info_template.html' %}

{% block title %}
{% if serializer.data.url %}
  编辑公示
{% else %}
  创建公示
{% endif %}
{% endblock %}

{% block rewritten_content_title %}
<div class="center-tab-header">
  {% if serializer.data.url %}
    编辑公示"{{ serializer.data.title }}"
  {% else %}
    为"{{ activity.title }}"活动创建公示
  {% endif %}
</div>
<hr/>
{% endblock %}

{% block content_detail %}
{% load rest_framework %}
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">

    <form enctype="multipart/form-data" action="" method="POST">
      {% csrf_token %}
      <div class="from-group">
        <label>活动标题</label>
        <br><p>&nbsp&nbsp&nbsp{{ activity.title }}</p>
      </div>
      <div class="from-group">
        <label>活动详情</label>
        <br><p>&nbsp&nbsp&nbsp{{ activity.detail }}</p>
      </div>
      <div class="from-group">
        <label>活动小组</label>
        <br><p>&nbsp&nbsp&nbsp{{ activity.group }}</p>
      </div>
      <div class="from-group">
        <label>活动日期</label>
        <br><p>&nbsp&nbsp&nbsp{{ activity.date }}</p>
      </div>
      <div class="form-group">
        <label>公示标题</label>
        <input name="title" class="form-control" type="text" value="{% if serializer.data.url %}{{ serializer.data.title }}{% endif %}">
      </div>
      <div class="form-group">
        <label>公示详情</label>
        <input name="content" class="form-control" type="text" value="{% if serializer.data.url %}{{ serializer.data.content }}{% endif %}">
      </div>
      <div class="form-group">
        <label>联系方式</label>
        <input name="contact" class="form-control" type="text" value="{% if serializer.data.url %}{{ serializer.data.contact }}{% endif %}">
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="is_published"
                   value="{% if serializer.data.url %}{{ serializer.data.is_published }}{% else %}true{% endif %}"
                   checked="{% if serializer.data.url %}{{ serializer.data.is_published }}{% else %}true{% endif %}">
            是否公示
          </label>
        </div>
      </div>
      <div class="form-group ">
        <label>开始公示时间</label>
        <input name="begin" class="form-control" type="date" value="{% if serializer.data.url %}{{ extra_data.begin }}{% endif %}">
      </div>
      <div class="form-group">
        <label>结束公示时间</label>
        <input name="end" class="form-control" type="date" value="{% if serializer.data.url %}{{ extra_data.end }}{% endif %}">
      </div>
      <input class="btn btn-primary btn-block" type="submit" name="save" value="提交">
      <a class="btn btn-default btn-block" href="/admin/publicities/{{ activity.id }}/manage/" >返回</a>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <hr />
  </div>
</div>

{% endblock %}
