{% extends 'sua/_layout/base.html' %}

{% block title %}公益时平台{% endblock %}

{% block content %}
<!-- 导航栏部分开始 -->
{% include 'sua/_partial/nav.html' %}
<!-- 导航栏部分结束 -->
<a href="/students/add" target="_blank">创建学生</a>
<a href="/activities/add" target="_blank">创建活动</a>
<div>学生</div>
{% for student in students %}
    <p>学号：{{ student.number }}</p>
    <p>年级：{{ student.grade }}</p>
    <p>班别：{{ student.classtype }}</p>
    <p>名字：<a href="{{ student.url }}">{{ student.name }}</a></p>
    <p>公益时数：{{ student.suahours }}</p>
{% endfor %}

<div>活动</div>
{% for publicity in publicities %}
    <p>活动日期：{{ publicity.activity.date }}</p>
    <p>活动名称：<a href="{{ publicity.activity.url }}">{{ publicity.activity.title }}</a></p>
    <p>组织方：{{ publicity.activity.group }}</p>
    <p>是否已公示：{{ publicity.is_published }}</p>
    <p>开始日：{{ publicity.begin }}</p>
    <p>结束日：{{ publicity.end }}</p>
{% endfor %}

<div>申请</div>
{% for application in applications %}
    <p>申请日期：{{ application.created }}</p>
    <p>标题：<a href="{{ application.sua.activity.url }}">{{ application.sua.activity.title }}</a></p>
    <p>申请人：<a href="{{ application.sua.student.url }}">{{ application.sua.student.name }}</a></p>
    <p>公益时：{{ application.sua.suahours }}h</p>
    <p>是否已审核：{{ application.is_checked }}</p>
    <a href="/applications/{{ application.id}} /delete">删除该申请</a>
{% endfor %}

<div>申诉</div>
{% for appeal in appeals %}
    <p>申诉日期：{{ appeal.created }}</p>
    <p>申诉的公示：<a href="{{ appeal.publicity.url }}">{{ appeal.publicity.title }}</a></p>
    <p>申诉人：<a href="{{ appeal.student.url }}">{{ appeal.student.name }}</a></p>
    <p>是否已处理：{{ appeal.is_checked }}</p>
    <a href="/admin/appeals/{{ appeal.id }}/change/">编辑申诉</a>
    <a href="/appeals/{{ appeal.id}} /delete">删除该申诉</a>
{% endfor %}

{% endblock %}
