{% extends 'sua/_layout/base.html' %}

{% block title %}申请个人公益时{% endblock %}

{% block content %}
{% load static %}
{% load rest_framework %}

<!-- 导航栏部分开始 -->
{% include 'sua/_partial/nav.html' %}
<!-- 导航栏部分结束 -->
<div class="container my-space-line">
  	    <div class="row">
 		<div class="col-lg-3">
  		</div>
  		<div class="col-lg-6">
  	  	    <h3>{{ student.name }}对"{{ activity.title }}"的申请的审核</h3>
  <p>申请人：{{ student.name }}</p>
  <p>活动标题：{{ activity.title }}</p>
  <p>活动详情：{{ activity.detail }}</p>
  <p>活动小组：{{ activity.group }}</p>
  <p>活动日期:{{ activity.date }}</p>
  <p>公益时：{{ sua.suahours }}</p>
  <p>是否线下证明：{{ proof.is_offline }}
  <p>证明文件:<a href="{{ proof.proof_file }}">{{ proof.proof_file }}</a></p>

  <form enctype="multipart/form-data" action="" method="POST">
      <div class="form-group ">
        <label >Feedback</label>
        <input name="feedback" class="form-control" type="text"  value="{{ application.feedback }}">
      </div>
      <div class="form-group ">
        <label >Status</label>
        <input name="feedback" class="form-control" type="number"  value="{{ application.status }}">
      </div>
      <input type="submit" name="save" value="提交">
  </form>

{% endblock %}
