{% extends 'sua/_layout/base.html' %}

{% block title %}申请个人公益时{% endblock %}

{% block content %}
{% load static %}

<!-- 导航栏部分开始 -->
{% include 'sua/_partial/nav.html' %}
<!-- 导航栏部分结束 -->

<div class="container my-space-line">
  	<div class="row">
 	  <div class="col-lg-3">
  	  </div>
  	  <div class="col-lg-6">
  	  	<h3>{{ serializer.data }}</h3>
<!--  	  	<p class="subtitle-descript">{{ serializer.data.detail }}</p> -->
  	  	<hr>
 	  	<div class="row">
 	  	<div class="col-xs-12">
  	  		<form enctype="multipart/form-data" role="form" action="{% url 'index' %}" method="GET">
            {% csrf_token %}
  	  			<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-xs-6">
  	  				<div class="form-group">
  	  					<label for="actor-name">
  	  					姓名
  	  					</label>
						<p id="actor-name" class="form-control-static">{{ serializer.data.sua.student.name }}</p>
  	  				</div>
  	  				</div>
  	  				<div class="col-xs-6">
  	  				<div class="form-group">
  	  					<label for="actor-code">
  	  					学号
  	  					</label>
  	  					<p id="actor-code" class="form-control-static">{{ serializer.data.sua.student.number }}</p>
  	  				</div>
  	  				</div>
						</div>
					</div>


					<div class="col-md-6">
						<div class="row">
						  	  				<div class="col-xs-6">
  	  				<div class="form-group">
  	  					<label for="actor-date">
  	  					申请日期
  	  					</label>
  	  					<p id="actor-date" class="form-control-static">{{ serializer.data.created }}</p>
  	  				</div>
  	  				</div>
  	  				<div class="col-xs-6">
  	  				<div class="form-group">
  	  					<label for="actor-date">
  	  					学年度
  	  					</label>
  	  					<p id="actor-date" class="form-control-static">{{ year_before }}~{{ year_after }}</p>
  	  				</div>
  	  				</div>
						</div>
					</div>
				</div>
  	  			<div class="row">
  	  				<div class="col-lg-6">
  	  				<div class="form-group">
  	  					<label for="id_{{ suaForm.prefix }}-{{ suaForm.title.name }}">
  	  					活动名称*
  	  					</label>
                <p id="" class="form-control-static">{{ serializer.data.sua.title }}</p>
  	  				</div>
  	  				</div>
              <div class="col-lg-6">
  	  				<div class="form-group">
  	  					<label for="id_{{ suaForm.prefix }}-{{ suaForm.date.name }}">
  	  					活动日期*
  	  					</label>
                <p id="" class="form-control-static">{{ serializer.data.sua.date }}</p>
  	  				</div>
  	  				</div>
  	  			</div>
  	  			<div class="row">
  	  				<div class="col-lg-6">
  	  				<div class="form-group">
  	  					<label for="id_{{ suaForm.prefix }}-{{ suaForm.group.name }}">
  	  					活动组织方*
  	  					</label>
  	  					<p id="" class="form-control-static">{{ serializer.data.sua.group.name }}</p>
  	  				</div>
  	  				</div>
  	  				<div class="col-lg-6">
  	  				<div class="form-group">
  	  					<label for="id_{{ sua_ApplicationForm.prefix }}-{{ sua_ApplicationForm.contact.name }}">
  	  					负责人手机/电话*
  	  					</label>
  	  					<p id="" class="form-control-static">{{ serializer.data.sua.contact }}</p>
  	  				</div>
  	  				</div>
  	  			</div>
  	  			<div class="row">
  	  				<div class="col-lg-6">
  	  				<div class="form-group">
  	  					<label for="id_{{ suaForm.prefix }}-{{ suaForm.team.name }}">
  	  					参与组别
  	  					</label>
  	  					<p id="" class="form-control-static">{{ serializer.data.sua.team }}</p>
  	  				</div>
  	  				</div>
  	  				<div class="col-lg-6">
  	  				<div class="form-group">
  	  					<label for="id_{{ suaForm.prefix }}-{{ suaForm.suahours.name }}">
  	  					公益时数
  	  					</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="" placeholder="{{ serializer.data.sua.suahours }}" readonly>
                  <div class="input-group-addon">小时</div>
                </div>
  	  				</div>
  	  				</div>
  	  			</div>
  	  			<div class="row">
  	  				<div class="col-lg-6">
  	  				<div class="form-group">
  	  					<label for="id_{{ proofForm.prefix }}-{{ proofForm.proof_file.name }}">
  	  					公益时证明
  	  					</label>
                {% if serializer.data.proof.is_offline %}
                  <p id="" class="form-control-static">线下证明</p>
                {% else %}
                  <p id="" ><a href="{{ serializer.data.proof.proof_file }}">线上证明</a></p>
                {% endif %}
  	  				</div>
  	  				</div>
  	  				<div class="col-lg-6">

  	  				</div>
  	  			</div>
  	  			<hr>
            <div class="row">
  	  				<div class="col-lg-12">
  	  				<div class="form-group">
  	  					<label for="id_{{ proofForm.prefix }}-{{ proofForm.proof_file.name }}">
  	  					审核结果
  	  					</label>
                {% if serializer.data.is_checked %}
                  {% if serializer.data.sua.is_valid %}
                    <p id="" class="form-control-static">审核通过</p>
                  {% else %}
                    <textarea name="sua_ApplicationForm-detail" placeholder="{{ serializer.data.feedback }}" maxlength="400" rows="10" id="" cols="20" class="form-control" readonly></textarea>
                  {% endif %}
                {% else %}
                  <p id="" class="form-control-static">待审核</p>
                {% endif %}
  	  				</div>
  	  				</div>
  	  				<div class="col-lg-6">

  	  				</div>
  	  			</div>
  	  			<hr>
				<div class="row">
					<div class="col-lg-12">
						<a class="btn btn-block btn-default" href='/'>返回</a>
					</div>
					</div>
  	  			</form>
	    </div>
  	  </div>

    </div>
  </div>
  <div class="row">
  	<div class="col-lg-12">
  		<hr>
  	</div>
  </div>
  </div>
{% endblock %}
