{% extends 'sua/_layout/base.html' %}

{% block title %}申请个人公益时{% endblock %}

{% block content %}
{% load static %}
{% load rest_framework %}

<!-- 导航栏部分开始 -->
{% include 'sua/_partial/nav.html' %}
<!-- 导航栏部分结束 -->

<div class="main-content" role="tabpanel">
  <div id="tabContent1" class="tab-content my-tab-content">

	<div class="row">
      <div class="col-xs-12">
	  <p></p>
	  </div>
	</div>
	<div class="row">
      <div class="col-xs-12">
	  <p></p>
	  </div>
	</div>
	<div class="row">
    <div class="col-xs-12">
	    <p></p>
	  </div>
	</div>

    <div class="row">
 	  <div class="col-lg-3">
  	  </div>
  	  <div class="col-lg-6">
  	  	<h2 style="text-align:center">申请个人公益时</h2>
  	    <p class="subtitle-descript" style="text-align:center">你可以在这里向学院提交院内外的公益时申请</p>
  	  </div>
  	  <div class="col-lg-6">
	  </div>
  	</div>

    <div class="row">
      <div class="col-xs-12">
  	  <hr>
      <form enctype="multipart/form-data" role="form" action="" method="POST">

	  <div class="row">
	    <div class="col-xs-1"></div>
		<div class="col-xs-10">
          <div class="form-group ">
            <h3>活动信息：</h3>
	      </div>
		</div>
	  </div>

	  <div class="row">
	  <div class="col-xs-1"></div>
      	{% csrf_token %}

		<div class="col-xs-4">
          <div class="form-group ">
            <label >活动标题</label>
            <input name="title" class="form-control" type="text"   >
	      </div>
	    </div>
		<div class="col-xs-1"></div>
	    <div class="col-xs-4">
          <div class="form-group ">
            <label >活动详情</label>
            <input name="detail" class="form-control" type="text"   >
          </div>
	    </div>
		<div class="col-xs-1"></div>
      </div>

	  <div class="row">
        <div class="col-xs-1"></div>

        <div class="col-xs-4">
          <div class="form-group ">
            <label >活动组织单位</label>
            <input name="group" class="form-control" type="text"   >
          </div>
	    </div>
		<div class="col-xs-1"></div>
	    <div class="col-xs-4">
          <div class="form-group ">
            <label >活动时间</label>
            <input name="date" class="form-control" type="date"   >
          </div>
	    </div>
		<div class="col-xs-1"></div>
	  </div>

	  <div class="row">
	    <div class="col-xs-1"></div>

        <div class="col-xs-4">
          <div class="form-group ">
            <label >参与组别</label>
            <input name="team" class="form-control" type="text"   >
          </div>
	    </div>
		<div class="col-xs-1"></div>
	    <div class="col-xs-4">
          <div class="form-group ">
            <label >公益时数</label>
            <input name="suahours" class="form-control" type="number"   >
          </div>
	    </div>
		<div class="col-xs-1"></div>
	  </div>
      <div class="row">
        <div class="col-xs-12">
	    <p></p>
	    </div>
	  </div>
		<hr>
	  <div class="row">
	    <div class="col-xs-1"></div>
	    	<div class="col-xs-11">
          <div class="form-group ">
            <h3>联系方式：</h3>
	        </div>
	  	</div>
	  </div>

	  <div class="row">
	    <div class="col-xs-1"></div>
		<div class="col-xs-4">
          <div class="form-group ">
            <label>活动组织单位负责人手机号</label>
            <input name="contact" class="form-control" type="text"   >
          </div>
        </div>
      </div>

	  <hr>

	  <div class="row">

	    <div class="col-xs-9">
	    </div>
	  </div>

	  <div class="row">
	    <div class="col-xs-1"></div>
		<div class="col-xs-11">
          <div class="form-group ">
            <h3>提交相关证明：</h3>
	      </div>
		</div>
	  </div>

	  <div class="row">
	    <div class="col-xs-1"></div>
        <div class="col-xs-4">
          <div class="form-group ">
            <div class="checkbox">
              <label>
              <input type="checkbox" name="is_offline" value="true" >
              是否为线下证明
              </label>
            </div>
		  </div>
        </div>
	  </div>

	  <div class="row">
	    <div class="col-xs-1"></div>
	    <div class="col-xs-4">
          <div class="form-group ">
            <label >证明文件</label>
            <input name="proof_file"  type="file"   >
          </div>
        </div>
	  </div>

	  <div class="row">
        <div class="col-xs-12">
	    <p></p>
	    </div>
	  </div>

	  <div class="row">
			<div class="col-lg-12">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5">
			</div>
			<div class="col-lg-2">
				<button type="submit" class="btn btn-block">提交申请</button>
			</div>
			<div class="col-lg-5">
			</div>
		</div>


    </form>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
	  <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
	  <p></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
  <p></p>
  </div>
</div>

{% endblock %}
