{% extends 'sua/_layout/base.html' %}

{% block title %}测试{% endblock %}

{% block content %}
{% load static %}
{% load rest_framework %}
<!-- 导航栏部分开始 -->
{% include 'sua/_partial/nav.html' %}
<!-- 导航栏部分结束 -->
  <form enctype="multipart/form-data" action="" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label>请输入原密码</label>
        <input name="OldPassword" class="form-control" type="password" value=""/>
      </div>
      <div class="form-group">
        <label>请输入新密码</label>
        <input name="NewPassword1" class="form-control" type="password" value=""/>
      </div>
      <div class="form-group">
        <label>请再次输入新密码</label>
        <input name="NewPassword2" class="form-control" type="password" value=""/>
      </div>
      <input type="submit" name="save" value="提交">
  </form>
{% endblock %}
