{% extends 'sua/_layout/base.html' %}

{% block title %}创建新的公益时活动{% endblock %}

{% block content %}
{% load static %}

<!-- 导航栏部分开始 -->
{% include 'sua/_partial/nav.html' %}
<!-- 导航栏部分结束 -->

<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
		<h3>{{ title }}</h3>
		<p class="subtitle-descript">{{ description }}</p>
		<hr>
		<div class="row">
			<div class="col-xs-12">
				<form enctype="multipart/form-data" role="form" action="" method="POST">
					{% csrf_token %} {{ formset.management_form }}
					<div class="row">
						<div class="col-lg-12">
							<label>
								项目名称
							</label>
							{{form.title}}
							<label>
								项目简介
							</label>
							{{form.detail}}
							<label>
								联系方式
							</label>
							{{form.contact}}
							<label>
								活动日期
							</label>
							{{form.date}}
							<label>
								是否公示
							</label>
							{{form.is_published}}
							<label>
								公示开始时间
							</label>
							{{form.published_begin_date}}
							<label>
								公示结束时间
							</label>
							{{form.published_end_date}}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<label>参与学生列表</label>
						</div>
					</div>
					<div id="sua-form-container">
						{% for suaform in formset %} {{ suaform.id }}
						<div class="row">
							<div class="col-lg-3">
								<div class="form-group-inline">
									<label>{{ suaform.DELETE }}删除该学生</label>
								</div>
							</div>
							<div class="col-lg-3">
								{{ suaform.student }}
							</div>
							<div class="col-lg-3">
								{{ suaform.team }}
							</div>
							<div class="col-lg-3">
								{{ suaform.suahours }}
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="row">
						<div class="col-lg-12">
							<a href="#" id="add-sua-button" class="btn btn-info add-sua">
								添加学生
							</a>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-lg-12">
							<button type="submit" class="btn btn-block">提交</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<hr>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('.add-sua').click(function (ev) {
			ev.preventDefault();
			var count = $('#sua-form-container').children().length;
			var tmplMarkup = $('#sua-template').html();
			var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
			$('div#sua-form-container').append(compiledTmpl);

			// update form count
			$('#id_form-TOTAL_FORMS').attr('value', count + 1);

			// some animate to scroll to view our new form
			$('html, body').animate({
				scrollTop: $("#add-sua-button").position().top - 200
			}, 800);
		});
	});
</script>

<!-- <script type="text/html" id="sua-template">
		把html写这里，有病吧
		<div id="sua-__prefix__" class="row">
			<div class="col-lg-3">
				<label>新学生</label>
			</div>
			<div class="col-lg-3">
				{{ formset.empty_form.student }}
			</div>
			<div class="col-lg-3">
				{{ formset.empty_form.team }}
			</div>
			<div class="col-lg-3">
				{{ formset.empty_form.suahours }}
			</div>
		</div>
	</script> -->
{% endblock %}