{% extends 'sua/_layout/base.html' %}

{# disable nav-bar #}
{% block nav %}{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
{% load static %}
<div class="box_one_noborder">
  <div class="logo_img">
    <img class="logo" src="{% static 'sua/images/logo.png' %}">
  </div>
</div>
<div class="login-box">
  <div class="login-title">
    <h1>公益时平台登录系统</h1>
  </div>
  <div class="login-form">
    <form action="." method="POST">
      {% csrf_token %}
        <label for="id_{{ form.user_name.name }}">{{ form.user_name.label }}</label>
      {{ form.user_name }}
        <label for="id_{{ form.user_password.name }}">{{ form.user_password.label }}</label>
      {{ form.user_password }} {{ form.loginstatus }}
      <label for="id_{{ form.loginstatus.name }}">
          15天内免登录
      </label>
      <a id="forget-password" class="link pull-right" data-toggle="modal" data-target="#myModal">
        忘记密码？
      </a>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <label id="forget-password-title">密码找回</label>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
            </div>
            <div id="forget-password-info" class="modal-body">
              <p>请联系管理员xxx重置密码</p>
              <p>联系方式：{{email}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
          </div>
        </div>
      </div>
      <div class="div_login">
          <input class="button_login" type="submit" name="save" value="登录">
      </div>
    </form>
  </div>
</div>
{%endblock %}
