{% extends 'sua/_layout/base.html' %}

{% block title %}申请个人公益时{% endblock %}

{% block content %}
{% load static %}

<!-- 导航栏部分开始 -->
{% include 'sua/_partial/nav.html' %}
<!-- 导航栏部分结束 -->

<div class="row">
 	  <div class="col-lg-3">
  	  </div>
  	  <div class="col-lg-6">
  	  	<h3>申请个人公益时</h3>
  	  	<p class="subtitle-descript">你可以在这里向学院提交院内外的公益时申请。</p>
  	  	<hr>
 	  	<div class="row">
 	  	<div class="col-xs-12">
  	  		<form enctype="multipart/form-data" role="form" action="" method="POST">
            {% csrf_token %}
            {{ formset.management_form }}
            <div id="sua-form-container">
              {% for form in formset %}
              <div class="row">
      				<div class="col-lg-4">
                      {{ form.student }}
      				</div>
              <div class="col-lg-4">
                      {{ form.team }}
      				</div>
              <div class="col-lg-4">
                      {{ form.suahours }}
      				</div>
      				</div>
              {% endfor %}
            </div>
            <div class="row">
    				<div class="col-lg-12">
                    <a href="#" id="add-sua-button" class="btn btn-info add-sua">
                      添加学生
                    </a>
    				</div>
    				</div>
  	  			<hr>
				  <div class="row">
					<div class="col-lg-12">
						<button type="submit" class="btn btn-block">提交</button>
					</div>
					</div>
  	  			</form>
	    </div>
  	  </div>

    </div>
  </div>
  <div class="row">
  	<div class="col-lg-12">
  		<hr>
  	</div>
  </div>
 </div>
 
<script type="text/html" id="sua-template">
  <div id="sua-__prefix__" class="row">
  <div class="col-lg-4">
          {{ formset.empty_form.student }}
  </div>
  <div class="col-lg-4">
          {{ formset.empty_form.team }}
  </div>
  <div class="col-lg-4">
          {{ formset.empty_form.suahours }}
  </div>
  </div>
</script>
<script>
  $(document).ready(function() {
      $('.add-sua').click(function(ev) {
          ev.preventDefault();
          var count = $('#sua-form-container').children().length;
          var tmplMarkup = $('#sua-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('div#sua-form-container').append(compiledTmpl);

          // update form count
          $('#id_form-TOTAL_FORMS').attr('value', count+1);

          // some animate to scroll to view our new form
          $('html, body').animate({
                  scrollTop: $("#add-sua-button").position().top-200
              }, 800);
      });
  });
</script>
{% endblock %}
