{% extends 'sua/_layout/base.html' %}

{% block title %}公益时平台{% endblock %}

{% block content %}

{% load static %}

{% load rest_framework %}

<div class="container my-space-line">
  <div class="row">
    <div class="col-xs-3">
      <p> 是否线下证明：{{ serializer.data.is_offline }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <p>线上证明材料：{{ serializer.data.proof_file }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <p>相关申请:{{ serializer.data.applications }}</p><!-- 证明信息(Proof) -->
    </div>
  </div>
</div>
{% endblock %}
