{% extends 'sua/_layout/info_template.html' %}

{% block title %}创建新的公益时活动{% endblock %}

{% block content_title %}
{{ serializer.data.title }} 的公示
{% endblock %}

{% block content_detail %}
<div class="row">
  <div class="col-lg-12">
    公示详情: {{ serializer.data.content }}
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    联系方式: {{ serializer.data.contact }}
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    是否已公示: {% if serializer.data.is_published %}已公示{% else %}未公示{% endif %}
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    公示开始时间: {{ serializer.data.begin }}
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    公示截止时间: {{ serializer.data.end }}
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <a class="btn btn-default" >发起申诉</a>{# I don't realy understand why there is such a button. Shall we delete it? #}
    <a data-toggle="modal" data-target="#confirm_box_delete_publicity_{{ serializer.data.id }}" class="btn btn-default">删除该公示</a>
    <a href="/publicities/{{ serializer.data.id }}/change" class="btn btn-default">编辑该公示</a>
    <a href="/" class="btn btn-default">返回主页</a>
    {% include "sua/_partial/confirm_box.html" with id1="confirm_box_delete_publicity_" id2=serializer.data.id title="确认删除公示" content="确认要删除该公示吗？" confirm_label="确认删除" confirm_href1="/publicities/" confirm_href2=serializer.data.id confirm_href3="/delete/" only%}
  </div>
</div>
{% endblock %}
