{% extends 'sua/_layout/info_template.html' %}

{% block rewritten_content_title %}
<div class="center-tab-header">个人信息</div>
{% endblock %}

{% block content_detail %}
<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <p>姓名：{{ serializer.data.name }}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <p>学号：{{ serializer.data.number }}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <p>公益时总数:{{ serializer.data.suahours}}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <p>年级:{{ serializer.data.grade }}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <p>班级:{{ serializer.data.classtype }}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <p>电话号码:{{ serializer.data.phone }}</p>
  </div>
</div>
{% if serializer.data.power > 0 or user.is_staff %}
<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <p>权限:{% if serializer.data.power == 0 %}普通学生{% elif serializer.data.power == 1  %}活动级管理员{% else %}未知权限{% endif %}</p>
  </div>
</div>
{% endif %}



<b>公益时记录</b>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>序号</th>
        <th>活动名称</th>
        <th>举办单位</th>
        <th>活动时间</th>
        <th>公益时</th>
      </tr>
    </thead>
      <tbody>
        {% for sua in serializer.data.suas|dictsortreversed:"is_valid" %}
          {% if sua.is_valid and sua.deletedAt == None %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ sua.activity.title }}</td>
            <td>{{ sua.activity.group }}</td>
            <td>{{ sua.activity.date }}</td>
            <td>{{ sua.suahours }} h</td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
  </table>
</div>


<div class="row">
  <div class="col-lg-12 center-wrapper">
  {% if user.is_staff %}
    <a data-toggle="modal" data-target="#confirm_box_delete_student_{{ serializer.data.id }}" class="btn btn-default">删除该学生</a>
    <a href="/students/{{ serializer.data.id }}/change" class="btn btn-default">编辑该学生信息</a>
  {% else %}
    <a href="/students/{{ serializer.data.id }}/changepassword/" class="btn btn-default">修改密码</a>
  {% endif %}
    <a href="{% if user.is_staff %}/{{ from_url }}{% else %}/{{ from_url }}{% endif %}" class="btn btn-default">返回主页</a>
  </div>
  {% include "sua/_partial/confirm_box.html" with id1="confirm_box_delete_student_" id2=serializer.data.id title="确认删除学生" content="确认要删除该学生吗？" confirm_label="确认删除" confirm_href1="/students/" confirm_href2=serializer.data.id confirm_href3="/delete/" only%}
</div>

{% endblock %}
