{% extends 'sua/_layout/base.html' %}

{% block title %}公益时平台{% endblock %}

{% block content %}

<!-- 导航栏部分开始 -->
{% include 'sua/_partial/nav.html' %}
<!-- 导航栏部分结束 -->
<div class="container my-space-line">
        <div class="row">
            <div class="col-xs-3">
                <p> 姓名：{{ serializer.data.name }}</p>
            </div>
        </div>
         <div class="row">
            <div class="col-xs-4">
        <p>学号：{{ serializer.data.number }}</p>
            </div>
         </div>
        <div class="row">
            <div class="col-xs-4">
        <p>公益时总数:{{ serializer.data.suahours }}</p>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
        <p>年级:{{ serializer.data.grade }}</p>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
        <p>班级:{{ serializer.data.classtype }}</p>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
        <p>电话号码:{{ serializer.data.phone }}</p>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
        <p>suas:{{ serializer.data.suas }}</p>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
        <p>id:{{ serializer.data.id }}</p><!-- 用户信息(Student) -->
        </div>
        </div>
        <a href="/students/{{ serializer.data.id }}/delete"><button type="submit">删除该学生</button></a>
        <a href="/students/{{ serializer.data.id }}/change" ><button type="submit">编辑该学生信息</button></a>
        <a href="/admin"><button type="submit">返回主页</button></a>
{% endblock %}
