{% extends 'sua/_layout/base.html' %}

{% block title %}公益时平台{% endblock %}

{% block content %}

{% load static %}

{% load rest_framework %}

<div class="container my-space-line">
        <div class="row">
            <div class="col-xs-3">
                <a href="{{ serializer.data.activity }}"> 活动详情：{{ serializer.data.activity }}</a>
            </div>
        </div>
         <div class="row">
            <div class="col-xs-4">
        <a href="{{ serializer.data.student }}">学生详情：{{ serializer.data.student }}</p>
            </div>
         </div>
        <div class="row">
            <div class="col-xs-4">
        <p>活动团队:{{ serializer.data.team }}</p>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
        <p>公益时:{{ serializer.data.suahours }}</p><!-- sua信息(Sua) -->
        </div>
        </div>
    </div>
{% endblock %}
