{% extends 'sua/_layout/base.html' %}

{% block title %}公益时记录{% endblock %}

{% block content %}
{% load static %}
{% load rest_framework %}
<!-- 导航栏部分开始 -->
{% include 'sua/_partial/nav.html' %}
<!-- 导航栏部分结束 -->
<div class="container my-space-line">
	<div role="tabpanel">
	<ul>
    {{ name }}的公益时记录    学号：{{ number }}  {{ hour }}
	</ul>
		<div id="tabContent1" class="tab-content my-tab-content">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>序号</th>
								<th>活动名称</th>
								<th>举办单位</th>
								<th>公益时</th>
                                <th>姓名</th>
                                <th>学号</th>
							</tr>
						</thead>
						{% if suas %}
						<tbody>
							{% for sua in suas %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ sua.activity.title }}</td>
								<td>{{ sua.activity.group }}</td>
								<td>{{ sua.suahours }} h</td>
                                <td>{{ name }}</td>
                                <td>{{ number }}</td>
							</tr>
							{% endfor %}
						</tbody>
						{% endif %}
					</table>
				</div>
        </div>
    </div>
</div>

<ul><a href="/media/proofs/20180213133427_62505409.doc">下载链接</a><ul>


{% endblock %}