::before {
    box-sizing: border-box;
}

.user-info>table {
    width: 100%;
    table-layout: fixed;
}



.user-info>table>tbody>tr>td{
    padding: 12px 0;
}

.user-info>table>tbody>tr>td.item {
    width: 34%;
}

.title {
    font-size: .9231rem;
    color: #5f5f5f;
}

.counter {
    font-size: 1.385rem;
}

.my-card-header {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 14px;
}

.user-timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.list {
    list-style: none;
    padding: 0;
    position: relative;
}

.card-hr {
    margin-bottom: 27px;
}

.list-item {
    display: block;
    position: relative;
    padding-left: 60px;
    margin-bottom: 27px;
    padding-bottom: 27px;
}

.list-item-author {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.list-item-info {
    margin-top: 20px;
    color: #cccccc;
    font-weight: 100;
    font-size: 0.5rem;
}

.list-item-info>div.info {
    float: left;
    margin-right: 5px;
}

.list-item-btn {
    float: right;
    margin-top: -17px;
    background-color: #4285f4;
}

.list>li:before {
    text-align: center;
    overflow: hidden;
    font-size: 12px;
    font-weight: 400;
    color: #4285f4;
    position: absolute;
    left: 0;
    top: 2px;
    height: 48px;
    width: 48px;
    line-height: 28px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #4285f4;
}

.list>li.item-1:before {
    background-color: #4285f4;
    color: #fff;
    content: "";
}


.user-timeline:before {
    content: "";
    position: absolute;
    left: 17px;
    top: 2px;
    height: 100%;
    width: 2px;
    background-color:#f6c163;
}
.user-timeline:after {
    content: "";
    position: absolute;
    left: 13px;
    bottom: -3px;
    height: 10px;
    width: 10px;
    background-color: #f6c163;
    border-radius: 50%;
}

.user-timeline>li {
    display: block;
    position: relative;
    padding-left: 50px;
    padding-bottom: 27px;
}



.user-timeline>li:before {
    text-align: center;
    overflow: hidden;
    font-size: 12px;
    font-weight: 400;
    color: #f6c163;
    position: absolute;
    left: 0;
    top: 2px;
    height: 36px;
    width: 36px;
    line-height: 36px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #f6c163;
}

.user-timeline-date {
    float: right;
    text-transform: capitalize;
    margin-bottom: 0;
    line-height: 22px;
}

.user-timeline-title {
    font-size: 1.385rem;
    font-weight: 300;
}

.user-timeline-description {
    color: #737373;
    margin-top: 4px;
}

.btn {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    border: 1px solid transparent;
    padding: 0 10px;
    font-size: 1rem;
    line-height: 28px;
    border-radius: 2px;
}

.btn-secondary {
    color: #404040;
    background-color: #fff;
    border-color: #dbdbdb;
}

.btn-secondary:hover {
    color: #404040;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #fff;
    border-color: #bababa;
}

.show>.btn-secondary.dropdown-toggle {
    background-image: none;
}

.show>.btn-secondary.dropdown-toggle:focus, .show>.btn-secondary.dropdown-toggle:hover {
    color: #272727;
    background-color: #e3e3e3;
    border-color: #bababa;
    -webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.06);
    box-shadow: inset 0 2px 0 rgba(0,0,0,.06);
}


.card-table table {
    margin-bottom: 0;
}

.card-table thead tr th {
    padding-top: 15px;
    padding-bottom: 10px;
}

.table>thead>tr>th {
    border-bottom-width: 2px;
    font-weight: 700;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.card th {
    border-top: 0;
    vertical-align: middle;
}

.card-table tr th:first-child {
    padding-left: 20px;
}

.table-responsive {
    border: 0;
    margin-bottom: 0;
}

.card-table .card-table-body {
    padding: 0;
    margin-top: 0px;
}

.card-subtitle {
    display: block;
    font-size: 0.8rem;
    color: #707070;
    margin-top: 0;
    margin-bottom: .4615rem;
}

.card-table-header .my-card-header {
    margin-bottom: 0;
}

.card-table-header {
    padding-bottom: 0;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

table {
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}

.card-table tr td:first-child, .card-table tr th:first-child {
    padding-left: 20px;
}

.tools {
    float: right;
    padding-right: 0px;
    margin-right: -4px;
}

.tools .dropdown-toggle::after {
    content: None;
}

.page-head {
    padding: 20px 25px 10px;
    position: relative;
}

.page-head-title {
    display: block;
    margin-bottom: 5px;
    margin-top: 6px;
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 2.154rem;
    color: #6b6b6b;
    line-height: 36px;
}

.main-content {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
}

.page-head .breadcrumb {
    background-color: transparent;
    padding: 3px 0;
    margin-bottom: 7px;
    line-height: 16px;
}

.page-head .breadcrumb>li {
    font-size: 1.077rem;
    font-weight: 300;
}

.page-head .breadcrumb-item {
    padding-left: 0;
}

.page-head .breadcrumb>li>a {
    color: #5e5e5e;
}

.page-head .breadcrumb>li+li:before {
    padding: 0 5px;
    color: #a3a3a3;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .6154rem;
    color: #878787;
    content: "/";
}

.breadcrumb>li+li:before {
    color: #4d4d4d;
}

a {
    color: #4285f4;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

body {
    margin: 0;
    font-family: Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.428571;
    color: #404040;
    text-align: left;
    background-color: #eee;
}

.invoice {
    background-color: #fff;
    padding: 100px 100px 70px;
    color: #8c8c8c;
}

.invoice-header {
    margin-bottom: 100px;
}

.invoice-logo {
    height: 108px;
    width: 220px;
    background-image: url("../images/logo.png");
    background-size: cover;
    background-position: 0;
}

.invoice-order {
    text-align: right;
}
.invoice-id {
    display: block;
    font-size: 2.308rem;
    line-height: 2.308rem;
}

.incoice-date {
    display: block;
    font-size: 1.385rem;
}

.invoice-data {
    margin-bottom: 110px;
}

.invoice-person span {
    font-size: 1.382rem;
    line-height: 2.5rem;
    font-weight: 300;
    display: block;
}

.invoice-person:last-child {
    text-align: right;
}

.invoice-details {
    width: 100%;
    font-size: 1.231rem;
    margin-bottom: 80px;
}

.invoice-details th:first-child {
    text-align: left;
}

.invoice-details th {
    text-align: right;
    padding-bottom: 8px;
    border-bottom: 1px solid #f0f0f0;
}

.invoice-details td:first-child {
    text-align: left;
}

.invoice-details tr>td {
    text-align: right;
    padding: 20px 0;
    border-bottom: 1px solid #f0f0f0;
}


.invoice-person span.name {
    font-weight: 500;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.invoice-footer {
    text-align: center;
    margin-top: 80px;
}

.invoice-footer .btn {
    min-width: 96px;
    font-size: 1.077rem;
}

.btn-space {
    margin-right: 5px;
    margin-bottom: 5px;
}

.btn-lg {
    padding: 0 12px;
    font-size: 1.1538rem;
    line-height: 38px;
    border-radius: 3px;
    font-weight: 500;
}
