@charset "utf-8";
body {
    background-color: #F5F5F5;
}
header {
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 5px #888888;
}
#my-navbar {
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 5px #888888;
    padding-bottom: 0;
    padding-top: 0;
}
#logo {
    margin: 15px 20px;
    padding: 4px 0px 5px 0px;
    text-align: right;
    color: #000000;
    font-weight: light;
    text-decoration: none;
    float: left;
    width: 122px;
    height: 30px;
    background: url(/static/sua/images/logo-icon3.png) no-repeat left;
    background-size:30px;
    font-size: 120%;
}
.my-page-top-space {
  margin-top: 120px;
}
.my-empty-block {
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .main-content {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .main-content {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}
/*--- 导航 --*/
@media screen and (min-width: 768px) {
  .main-navbar {
    margin-right: 20px;
  }
}

#my-status {
  margin-top:10px;
  background-color: #fff;
  border-radius: 5px; 
}
#my-status .btn {
  border: none;
}
.my-tab > li  a.my-nav-tab {
  padding-top: 19px;
  padding-bottom: 17px;
  background-color: #fff;
  color: #000;
}

.my-tab > li  a.my-nav-tab:active,
.my-tab > li  a.my-nav-tab:focus,
.my-tab > li  a.my-nav-tab:hover,
.my-tab > li.active  a.my-nav-tab {
  background-color: #fff;
  color: #2d8cf0;
  border-bottom: 5px solid #2d8cf0
}


#suahours {
    display: none;
    color: #000000;
}
.li-info {
    font-weight: 700;
}
.my-space-line
/* 主页已不再使用，建议删除 */ {
    margin-top: 60px;
}
.my-tab-content{
    background-color: #FFFFFF;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.my-panel{
    margin: 10px 10px 10px 10px;
}

.navbar-header button {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}
.icon-bar {
  background-color: #000;
  height: 2px;
  width: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

/*原来的apply.css*/

.title-remark {
	color: #A7A7A7;
	font-size: small;
}
.subtitle-descript {
	color: #969696;
	font-size: small;
}
.text-static {
	margin-left: 3px;
}

/*原来的index.css*/

.logo {
	float: left;
	margin-right: 6px;
	padding-bottom: 0px;
	margin-top: -5px;
}

/* 页头 */
.tab-header {
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-top: 0.5em;
}

.lg-tab-header {
  padding-left: 1em;
}

.table-responsive{
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.tab-pane fade{

}

/* 公示列表 */
.my-pub-list {
  margin-left: 1em;
  margin-right: 1em;
}

.my-pub-table {
  font-size: 1.2em;
}

.my-pub-table tr {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: .5em;
}

.my-pub-table tr:first-of-type {
  border-top:none;
}

.my-pub-table a:hover {
  color: #337ab7;
}

/* 公示 */
.my-pub-header {
  margin-top: 20px;
}

.my-pub-title {
  font-size: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}
.my-pub-content {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 1.2em;
  padding-right: 1em;
  line-height: 200%;
}

.my-pub-detail {
  color: #999;
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
}
.my-pub-detail dt,
.my-pub-detail dd {
  display: inline-block;
  clear: both;
}
.my-pub-detail dt {
  float: left;
}

.my-pub-student {
  padding-left: 1em;
  padding-right: 1em;
}
.my-pub-student caption {
  padding-bottom: 0;
  padding-left: 1em;
}
