<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} 公益时平台 {% endblock %}</title>
    {% include 'sua/_partial/head.html' %}
  </head>
  <body>

    {% block nav %}
    <nav id="my-navbar" class="navbar navbar-fixed-top">
      <div id="header-inner">
        <!-- 兼容移动设备 -->
        <div class="navbar-header">
          {% if request.path == '/' or request.path == '/admin/' %}
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar-content" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% endif %}
          <a class="navbar-brand" href="{% if nav.user.is_staff %}/admin/{% else %}/{% endif %}" id="logo">数院公益时</a>
        </div>

        <!-- 导航栏主体 -->
        <div class="main-navbar">

          {% block nav_tab %}{% endblock %}

          <ul id="my-status" class="nav navbar-nav navbar-right">
            <li role="presentation" class="dropdown">
              <button class="btn btn-default btn-block dropdown-toggle li-info" type="button" id="navdropdownMenu" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                {% block dropdown_label %}
                我的公益时: {{ nav.student.totalhours }}
                {% endblock %}
              </button>
              <ul class="dropdown-menu" aria-labelledby="navdropdownMenu">
                {% block dropdown_content %}
                <li><a href="#">查看帮助</a></li>
                <li><a href="/">返回主页</a></li>
                {% endblock %}
                <li><a href="/logout">登出</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="my-page-top-space"></div>
    {% endblock %}

    {% block content %}
    <p>加载失败，请刷新重试</p>
    {% endblock %}

    <div class="my-empty-block"></div>

  </body>
{% include 'sua/_partial/load_js.html' %}
</html>
