<div class="modal fade" id="{{ id1 }}{{ id2 }}" tabindex="-1" role="dialog" aria-labelledby="{{ id1 }}{{ id2 }}_content">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="{{ id1 }}{{ id2 }}_content">{{ title|default:"操作确认" }}</h4>
      </div>
      <div class="modal-body">
        {{ content|default:"确认要这样处理吗？" }}
      </div>
      <div class="modal-footer my-empty-block">
        <a type="button" class="btn btn-default" {% if cancel_href1 != None or cancel_href2 != None or cancel_href3 != None %}href="{{ cancel_href1 }}{{ cancel_href2 }}{{ cancel_href3 }}"{% endif %} data-dismiss="modal">{{ cancel_label|default:"取消" }}</a>
        <a type="button" class="btn btn-primary" {% if confirm_href1 != None or confirm_href2 != None or confirm_href3 != None %}href="{{ confirm_href1 }}{{ confirm_href2 }}{{ confirm_href3 }}{% endif %}">{{ confirm_label|default:"确认" }}</a>
      </div>
    </div>
  </div>
</div>